{% if site.data.media %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Media</h2>

  {% for intro in site.data.media %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for media in site.data.media %}
    <div class="item">

      <span class="project-title">{{ media.date }}<br><a href="{{ media.link }}">{{ media.title }}</a></span>

      {% if media.tagline %}
      - <span class="project-tagline">{{ media.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
