{% if site.data.presentations %}
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Presentations and talks</h2>

{% for presentation in site.data.presentations %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ presentation.title }} (<a href="{{ presentation.url }}">SpeakerDeck</a>)</h3>
      </div><!--//upper-row-->

      <div class="company">{{ presentation.type }}</div>

      {% for instance in presentation.instances %}
        <p style="font-style: italic;"> - {{ instance.title }}</p>
      {% endfor %}

    </div><!--//meta-->

    {% if presentation.details %}
    <div class="details">
      <p>{{ presentation.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
