{% if site.data.skills %}
<section class="skills-section section">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>

  {% for field in site.data.skills %}

    <h4 style="text-align: center">{{ field.name }}</h4>

    <div class="skillset">

        {% for skill in field.skills %}
        <div class="item">

          <h3 class="level-title">{{ skill.name }}</h3>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
    </div>
  {% endfor %}
</section><!--//skills-section-->
{% endif %}
